
.preloaderSmall {
   width:35px;
   height:35px;
   display:inline-block;
   padding:0px;
   border-radius:100%;
   border:2px solid;
   border-top-color:rgba(124,104,83, 0.65);
   border-bottom-color:rgba(124,104,83, 0.15);
   border-left-color:rgba(124,104,83, 0.65);
   border-right-color:rgba(124,104,83, 0.15);
   -webkit-animation: preloaderSmall 0.8s linear infinite;
   animation: preloaderSmall 0.8s linear infinite;
}
@keyframes preloaderSmall {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloaderSmall {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}

/*Medium Size*/
.preloaderMedium {
   width:120px;
   height:120px;
   display:inline-block;
   padding:0px;
   border-radius:100%;
   border:2px solid;
   border-top-color:rgba(124,104,83, 0.65);
   border-bottom-color:rgba(124,104,83, 0.15);
   border-left-color:rgba(124,104,83, 0.65);
   border-right-color:rgba(124,104,83, 0.15);
   -webkit-animation: preloaderMedium 0.8s linear infinite;
   animation: preloaderMedium 0.8s linear infinite;
}
@keyframes preloaderMedium {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloaderMedium {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}




/*Balls*/
#fountainG{
   position:relative;
   width:66px;
   height:8px;
   margin:auto;
}

.fountainG{
   position:absolute;
   top:0;
   background-color:rgba(45,210,251,0.89);
   width:8px;
   height:8px;
   animation-name:bounce_fountainG;
      -o-animation-name:bounce_fountainG;
      -ms-animation-name:bounce_fountainG;
      -webkit-animation-name:bounce_fountainG;
      -moz-animation-name:bounce_fountainG;
   animation-duration:1.5s;
      -o-animation-duration:1.5s;
      -ms-animation-duration:1.5s;
      -webkit-animation-duration:1.5s;
      -moz-animation-duration:1.5s;
   animation-iteration-count:infinite;
      -o-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
      -webkit-animation-iteration-count:infinite;
      -moz-animation-iteration-count:infinite;
   animation-direction:normal;
      -o-animation-direction:normal;
      -ms-animation-direction:normal;
      -webkit-animation-direction:normal;
      -moz-animation-direction:normal;
   transform:scale(.3);
      -o-transform:scale(.3);
      -ms-transform:scale(.3);
      -webkit-transform:scale(.3);
      -moz-transform:scale(.3);
   border-radius:5px;
      -o-border-radius:5px;
      -ms-border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
}

#fountainG_1{
   left:0;
   animation-delay:0.6s;
      -o-animation-delay:0.6s;
      -ms-animation-delay:0.6s;
      -webkit-animation-delay:0.6s;
      -moz-animation-delay:0.6s;
}

#fountainG_2{
   left:8px;
   animation-delay:0.75s;
      -o-animation-delay:0.75s;
      -ms-animation-delay:0.75s;
      -webkit-animation-delay:0.75s;
      -moz-animation-delay:0.75s;
}

#fountainG_3{
   left:16px;
   animation-delay:0.9s;
      -o-animation-delay:0.9s;
      -ms-animation-delay:0.9s;
      -webkit-animation-delay:0.9s;
      -moz-animation-delay:0.9s;
}

#fountainG_4{
   left:25px;
   animation-delay:1.05s;
      -o-animation-delay:1.05s;
      -ms-animation-delay:1.05s;
      -webkit-animation-delay:1.05s;
      -moz-animation-delay:1.05s;
}

#fountainG_5{
   left:33px;
   animation-delay:1.2s;
      -o-animation-delay:1.2s;
      -ms-animation-delay:1.2s;
      -webkit-animation-delay:1.2s;
      -moz-animation-delay:1.2s;
}

#fountainG_6{
   left:41px;
   animation-delay:1.35s;
      -o-animation-delay:1.35s;
      -ms-animation-delay:1.35s;
      -webkit-animation-delay:1.35s;
      -moz-animation-delay:1.35s;
}

#fountainG_7{
   left:49px;
   animation-delay:1.5s;
      -o-animation-delay:1.5s;
      -ms-animation-delay:1.5s;
      -webkit-animation-delay:1.5s;
      -moz-animation-delay:1.5s;
}

#fountainG_8{
   left:58px;
   animation-delay:1.64s;
      -o-animation-delay:1.64s;
      -ms-animation-delay:1.64s;
      -webkit-animation-delay:1.64s;
      -moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
   0%{
   transform:scale(1);
      background-color:rgba(45,210,251,0.87);
   }

   100%{
   transform:scale(.3);
      background-color:rgb(255,255,255);
   }
}

@-o-keyframes bounce_fountainG{
   0%{
   -o-transform:scale(1);
      background-color:rgba(45,210,251,0.87);
   }

   100%{
   -o-transform:scale(.3);
      background-color:rgb(255,255,255);
   }
}

@-ms-keyframes bounce_fountainG{
   0%{
   -ms-transform:scale(1);
      background-color:rgba(45,210,251,0.87);
   }

   100%{
   -ms-transform:scale(.3);
      background-color:rgb(255,255,255);
   }
}

@-webkit-keyframes bounce_fountainG{
   0%{
   -webkit-transform:scale(1);
      background-color:rgba(45,210,251,0.87);
   }

   100%{
   -webkit-transform:scale(.3);
      background-color:rgb(255,255,255);
   }
}

@-moz-keyframes bounce_fountainG{
   0%{
   -moz-transform:scale(1);
      background-color:rgba(45,210,251,0.87);
   }

   100%{
   -moz-transform:scale(.3);
      background-color:rgb(255,255,255);
   }
}