<restaurant-header [headerVars]="pageHeaderVars"></restaurant-header>


<div class="container">
    <div class="row">
        <div class="cols-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="about-us-description">
                        <h1><span class="thin-text">A FEW WORDS</span> ABOUT US</h1>
                        <h2>Let us introduce ourselves</h2>
                        <p>
                        Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulia Curae; Fusce id purus. <span class="change-font">Ut varius tincidunt</span> libero. Phasellus dolor. Maecenas vestibulum mollis <br><br>

                        Lorem ipsum dolor sit amet, <span class="change-font">consectetuer</span> adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                        </p>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="place-to-wine-description">
                        <h1><span class="thin-text">A PLACE TO WINE, A PLACE TO</span> DINE</h1>
                        <h2>How it all came to be...</h2>
                        <p>
                            Lorem ipsum dolor sit amet, <span class="change-font">consectetuer</span> adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.

                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            <br><br>
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="statistics">
                <div class="row">
                    <div class="col-sm-2">
                        <h1>17</h1>
                        <p>Years of experience</p>
                    </div>
                    <div class="col-sm-2">
                        <h1>34</h1>
                        <p>Team Members</p>
                    </div>
                    <div class="col-sm-2">
                        <h1>12500</h1>
                        <p>Customers served</p>
                    </div>
                    <div class="col-sm-2">
                        <h1>75</h1>
                        <p>Dishes</p>
                    </div>
                    <div class="col-sm-2">
                        <h1>200+</h1>
                        <p>Wines</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container-fluid">
    <div class="row">
        <div class="photography">
            <div class="col-sm-3" *ngFor="#pics of allPictures">
                <div class="picture">
                    <img src="{{pics.pic}}" alt=""/>
                </div>                
            </div>
        </div>
    </div>
</div>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 bootstrap-strap-padless-column">
            <div class="gallery-photo-holder">
                <img class="galler-photo-img" src="app/assets/images/aboutUs1.jpg" alt="" />
                <div class="gallery-photo-caption">
                    <h5>Coffee</h5>
                    <p>With Yaoco beans</p>
                </div>
            </div>
        </div>
    </div>
</div>

<restaurant-footer></restaurant-footer>