<div class="common-page-header-holder" style="background-image: url(/app/assets/images/{{headerVars.img}});">
    <main-navigation></main-navigation>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-position-wrapper">
                    <h1>{{headerVars.thinHeading}} <span *ngIf="headerVars.andSign" class="and-sign">&</span> {{headerVars.boldHeading }}</h1>
                    <section>{{headerVars.caption}}</section>
                </div>                
            </div>
        </div>
    </div>
</div>


