<div class="row">
    <div *ngFor="#ingredient of ingredients" class="col-sm-6">
        <div class="ingredients-holder">
            <div class="ingredients-img-holder">
                <div class="ingedient-hidden-wrapper">
                    <a href="{{ingredient.link}}">Read More</a>
                </div>
                <img src="app/assets/images/{{ingredient.img}}" alt="" />
            </div>
            <div class="ingredient-content-holder">
                <h4>{{ingredient.title}}</h4>
                <p>{{ingredient.caption}}</p>
            </div>
        </div>
    </div>
</div>