<restaurant-header [headerVars]=pageHeadersVars></restaurant-header>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3><i class="fa fa-star" aria-hidden="true"></i>ENFOLD DETROIT</h3>
            <section>
                4870 Cass Ave<br>
                Detroit, MI, United States<br> <br>

                (555) 389 976<br>
                detroit@enfold-restaurant.com<br>
            </section>

            
        </div>
        <div class="col-sm-3">
            <h3><i class="fa fa-star" aria-hidden="true"></i>ENFOLD DETROIT</h3>
            <section>
                4870 Cass Ave<br>
                Detroit, MI, United States<br> <br>

                (555) 389 976<br>
                detroit@enfold-restaurant.com<br>
            </section>

            
        </div>
        <div class="col-sm-3">
            <h3><i class="fa fa-star" aria-hidden="true"></i>ENFOLD DETROIT</h3>
            <section>
                4870 Cass Ave<br>
                Detroit, MI, United States<br> <br>

                (555) 389 976<br>
                detroit@enfold-restaurant.com<br>
            </section>

            
        </div>
        <div class="col-sm-3">
            <h3><i class="fa fa-star" aria-hidden="true"></i>ENFOLD DETROIT</h3>
            <section>
                4870 Cass Ave<br>
                Detroit, MI, United States<br> <br>

                (555) 389 976<br>
                detroit@enfold-restaurant.com<br>
            </section>

            
        </div>
    </div>
</div>

<restaurant-footer></restaurant-footer>