
<div class="container">
    <div class="row">
        <div class="breakfast">            
            
                    <h1><span class="thin-text">{{menuTitleThin}}</span>{{menuTitleBold}}</h1>
                        <!--REPETITIVE MENU ITEM-->
                        <div *ngFor="#menuItem of menuData.menuItems" class="col-sm-6">
                            <div class="menu-item-wrapper">                   
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h2>{{menuItem.menuItemtTitle}}</h2>
                                        <section>{{menuItem.menuItemCaption}}</section>
                                    </div>
                                    <div class="col-sm-3">
                                        <h6>{{ formatPrice ( menuItem.menuItemPrice ) }}$</h6>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <!--END OF REPETITIVE MENU ITEM-->
                     

                    
                
        </div>
    </div>
</div>