

<div class="slider-holder">
    <main-navigation></main-navigation>                             
        <div id="main-slider" class="slide">

            <div class="slide-main-holder">
                <img src="app/assets/images/slides/slide1.jpg" alt="" />
                <div class="slide-caption">
                    <h1> <span class="thin-heading">WELCOME TO</span> ENFOLD RESTAURANT</h1>
                    <section>The best gourmet restaurant available in Manhattan <br> Book online or call a(555)123-4567</section>
                </div>
            </div>

            <div class="slide-main-holder">
                <img src="app/assets/images/slides/slide2.jpg" alt="" />
                <div class="slide-caption">
                    <h1> <span class="thin-heading">WELCOME TO</span> ENFOLD RESTAURANT</h1>
                    <section>The best gourmet restaurant available in Manhattan <br> Book online or call a(555)123-4567</section>
                </div>
            </div>

            <div class="slide-main-holder">
                <img src="app/assets/images/slides/slide3.jpg" alt="" />
                <div class="slide-caption">
                    <h1> <span class="thin-heading">WELCOME TO</span> ENFOLD RESTAURANT</h1>
                    <section>The best gourmet restaurant available in Manhattan <br> Book online or call a(555)123-4567</section>
                </div>
            </div>

            


        </div>           
</div>


